<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Praktika app suite" verbose="0">
    <test thread-count="1" name="Onboarding test" verbose="0">
        <classes>
            <class name="OnboardingProcessTest"/>
        </classes>
    </test>
</suite>